<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/assets/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-container">
            {{>header}}
            <p>This site was created by Walker Cole. It uses data from Mapbox and Weatherstack and is written using Node JS and Express and deployed to Heroku!</p>
            <img class="heroImg" src="/assets/0_1.png">
        </div>
        
        {{>footer}}
    </body>
</html>